.googleimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.firstrow {
    background-color: #EEEEEE;
    
}

.secondrow {
    background-color: #7EE5DA;
    width: 37%;
    clear: none;
}

.thirdrow {
    background-color: #70CCC2;
    font-size: small;
}

.fourthrow {
    background-color: #62B3AA;
    font-size: small;
    width: 37%;
}
    
.footer {
    text-align: center;
    font-size: small;
}
